<!DOCTYPE html>
<html>
	<head>
        <title>DOMO</title>
        <link rel="stylesheet" type="text/css" href="static/style/analyses.css">
        <link rel="icon" type="image/png" href="static/img/home.png">
        <!--<meta http-equiv="refresh" content="10">-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div class="element title">
			<a href="http://127.0.0.1:5000/" class="goBackLink">&#60;- Retour au menu</a>
			<h2>Projet domotique - Analyses</h2>
		</div>
        <div class="element text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, et fugiat itaque ipsum numquam sunt rem laudantium fugit accusantium molestiae, quam iste voluptates tempora reiciendis id, corrupti odit veritatis dignissimos.
        </div>
    </body>
</html>
