<!DOCTYPE html>
<html>
    <head>
        <title>DOMO</title>
        <link rel="stylesheet" type="text/css" href="static/style/index.css">
        <link rel="icon" type="image/png" href="static/img/home.png">
        <!--<meta http-equiv="refresh" content="10">-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div>
        <center>
            <h2>Projet domotique</h2>
        </center>
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, et fugiat itaque ipsum numquam sunt rem laudantium fugit accusantium molestiae, quam iste voluptates tempora reiciendis id, corrupti odit veritatis dignissimos.
        </div>
        <div class="buttons">
            <button name="submit" id="logs" type="submit" onclick="window.location.href = '/logs';">Aller voir les logs.</button>
            <button name="submit" id="analyses" type="submit" onclick="window.location.href = '/analyses';">Aller voir les analyses.</button>
        </div>
    </body>
</html>
