<!DOCTYPE html>
<html>
	<head>
		<title>DOMO</title>
		<link rel="stylesheet" type="text/css" href="static/style/logs.css">
		<link rel="icon" type="image/png" href="static/img/home.png">
		<!--<meta http-equiv="refresh" content="10">-->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	</head>
	<body>
		<div>
			<h2>Projet domotique - Logs</h2>
		</div>
		<div>
			<table id="items">
                <tr>
                    {% for key, value in items.items() %}
                        <th>
                            {{key}}
                        </th>
                    {% endfor %}
                </tr>
                {% for i in range(nb_line) %}
                <tr>
                    {% for key, value in items.items() %}
                        <td>
                            {{value[i]}}
                        </td> 
                    {% endfor %}
                </tr>
                {% endfor %}     
			</table>
		</div>
		<div>
			<table id=events>
				<tr>
					<th> Category </th>
					<th> Id </th>
					<th> Action </th>
					<th> Function </th>
					<th> Command </th>
					<th> Begin Date </th>
					<th> Begin State </th>
					<th> Ending Date </th>
					<th> Ending State </th>
				</tr>
				{% for event in events %}
				<tr>
					<td> {{ event['Category'] }} </td>
					<td> {{ event['Id'] }} </td>
					<td> {{ event['Action'] }} </td>
					<td> {{ event['Function'] }} </td>
					<td> {{ event['Command'] }} </td>
					<td> {{ event['Begin Date'] }} </td>
					<td> {{ event['Begin State'] }} </td>
					<td> {{ event['Ending Date'] }} </td>
					<td> {{ event['Ending State'] }} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>
