<!DOCTYPE html>
<html>
  <head>
    <title>DOMO</title>
    <link rel="stylesheet" type="text/css" href="static/style/logs.css">
    <link rel="icon" type="image/png" href="static/img/home.png">
    <!--<meta http-equiv="refresh" content="10">-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div>
      <center>
        <h2>Projet domotique - Logs</h2>
        <h3>{Category}</h3>
      </center>
    </div>
    <div>
      {DASHBOARD}
  </div>
    <div>
      {DESCRIPTION ?}
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, et fugiat itaque ipsum numquam sunt rem laudantium fugit accusantium molestiae, quam iste voluptates tempora reiciendis id, corrupti odit veritatis dignissimos.
    </div>
  </body>
</html>
