<!DOCTYPE html>
<html>
	<head>
		<title>DOMO</title>
		<link rel="stylesheet" type="text/css" href="static/style/logs.css">
		<link rel="icon" type="image/png" href="static/img/home.png">
		<!--<meta http-equiv="refresh" content="10">-->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	</head>
	<body>
		<div class="element title">
			<h2>Projet domotique - Logs</h2>
		</div>
		<div class="element">
			<table id="items">
				<thead>
					<tr>
						{% for key, value in items.items() %}
							<th>
								<form id="form-all" method='POST'><button type=submit name='item' value='{{key}}' class="select-category">{{key}}</button></form>
							</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for i in range(nb_line) %}
					<tr>
						{% for key, value in items.items() %}
							<td>
								{% if value[i] %}
									<form method='POST'><button type=submit name='item' value='{{key}} {{value[i]}}' class="select-item">{{value[i]}}</button></form>
								{% endif %}	
							</td>
						{% endfor %}
					</tr>
					{% endfor %}
					<tr>
						<td colspan=4>
							<form id="form-all" method='POST'><button type=submit name='item' value='all' class="select-all-item">Tout</button></form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="element" id="tableauDesLogs">
			<table id="events" >
				<thead>
					<tr>
						<th> Category </th>
						<th> Id </th>
						<th> Action </th>
						<th> Function </th>
						<th> Command </th>
						<th> Begin Date </th>
						<th> Begin State </th>
						<th> Ending Date </th>
						<th> Ending State </th>
					</tr>
				</thead>
				<tbody>
					{% for event in events %}
					<tr>
						<td> {{ event['Category'] }} </td>
						<td> {{ event['Id'] }} </td>
						<td> {{ event['Action'] }} </td>
						<td> {{ event['Function'] }} </td>
						<td> {{ event['Command'] }} </td>
						<td> {{ event['Begin Date'] }} </td>
						<td> {{ event['Begin State'] }} </td>
						<td> {{ event['Ending Date'] }} </td>
						<td> {{ event['Ending State'] }} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div id="logs_chart">
				<script>
					var None = undefined,
					graphs = {{plot | safe}};

					if (graphs==undefined)
					{
						var logs_chart = document.getElementById('logs_chart');
						logs_chart.style.display='None';
					}
					else
					{
						graphs['config']={displayModeBar: false};
						Plotly.plot('logs_chart', graphs);

					}
					
				</script>
			</div>
		</div>
		
		<script type=text/javascript src="../static/js/lib/jquery.js"></script>
		<script type=text/javascript src="../static/js/lib/jquery.dataTables.min.js"></script>
		<script type=text/javascript src="../static/js/logs.js"></script>
	</body>
</html>
