html {
    font: 1em / 1.4 sans-serif;
    font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    min-height: 100%;
    background-color: #1b2938;
}

body {
    background-color: #181818;
    font-size: 0.75rem;
}

body>div {
    color: #e6e6e6;
    background: #272727;
    border-width: 1px;
    border-style: solid;
    border-top-color: #464646;
    border-right-color: #4d4d4d;
    border-bottom-color: #5a5a5a;
    border-left-color: #4d4d4d;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

.element {
    background-color: #272727;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 8px;
    max-width: 100%
}

.title {
    text-align: center;
    display: block;
}

.text {
    font-size: 14px;
}