body{
    background-color: rgb(128, 151, 255);
}

.select-item {
    width: 100%;
    padding: 0; 
    border: 0;
    background-color: white;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}


table, th, td {
    border: 1px solid black;
}

table th{
    text-align: left;
    background-color: black;
    color: white;
    padding: 8px;
}

#items {
    width: 20%;
    background-color: white;
}

#items td {
    padding: 0;
}


#events {
    width: 80%;
}

#events td {
    padding: 4px;
}

#events tr:nth-child(odd){
    background-color: rgb(221, 221, 221);
}

#events tr:nth-child(even){
    background-color: white;
}

#events tr:hover {
    background-color: rgb(96, 114, 194);
}


#events_previous {
    background-color: rgb(28, 134, 255);
}

#events_next {
    background-color: red;
}

.paginate_button {
    background-color: white;
}

.current {
    background-color: grey;
}