body{
    background-color: rgb(128, 151, 255);
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}
  
table, th, td {
    border: 1px solid black;
}

table th{
    text-align: left;
    background-color: black;
    color: white;
    padding: 8px;
  }

table td{
    padding: 4px;
}

table tr:nth-child(odd){
    background-color: rgb(221, 221, 221);
}

table tr:nth-child(even){
    background-color: white;
}

table tr:hover {
    background-color: rgb(96, 114, 194);
}

#items {
    width: 20%
}

#events {
    width: 80%;
}

#events_previous {
    background-color: rgb(28, 134, 255);
}

#events_next {
    background-color: red;
}

.paginate_button {
    background-color: white;
}

.current {
    background-color: grey;
}